<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567340422853-fshf1p6ct9ti613ulr3qt9ul0sjt74sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567340422853-fshf1p6ct9ti613ulr3qt9ul0sjt74sj</string>
	<key>API_KEY</key>
	<string>AIzaSyDfiYKQBLn-vCspzNPBuQK0phD4TDCthyY</string>
	<key>GCM_SENDER_ID</key>
	<string>567340422853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ITESM.eating-sustainably-login</string>
	<key>PROJECT_ID</key>
	<string>eating-sustainably-ios-868e9</string>
	<key>STORAGE_BUCKET</key>
	<string>eating-sustainably-ios-868e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567340422853:ios:7a11ecf2d6d95ec4e582ac</string>
</dict>
</plist>